*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d2a6ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all;
}
.header .logo :hover{
    transform: scale(1.2);
}

.header .nav-link-ytc{
    color: #694c6f;
    list-style: none;
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
    margin-right: 16px;
}

.header .nav-link-ytc li{
    display: inline-block;
    padding: 0px 20;
}
.header .nav-link-ytc li:hover{
    transform: scale(1.1);
}

.header .nav-link-ytc a{
    font-size: 700;
    color: white;
    text-decoration: none;
}
.header .nav-link-ytc li a:hover{
    color: #ffffff;
}
