{% extends "base.html" %}

{% block content %}
<!-- <h2 style="padding: 80px"></h2>   -->

<style>
:root {
  --blue: #14d0f0e6;
  --pink: rgba(255, 131, 195, 0.4);
  --white: rgba(255, 255, 255, 0.9);
}

.banner {
  font: 100% system-ui, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

.banner-background {
  background-image: url(/static/resources/purple_paws.avif);
  background-size: repeat;
  background-repeat: repeat;
  background-color: #252746;
  background-position: center;
  width: 100vw;
  height: 350px;
  z-index: 0;
  top: 70vh;
  left: 0;
  top:0;
  animation: scroll 100s linear infinite;
  margin-top: 0px;
}

.banner-background-texture {
  background: linear-gradient(
    to top,
    rgba(193, 101, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  background-size: cover;
  width: 100vw;
  height: 350px;
  /* position: absolute;
  /* z-index: 0; */
  top: 0;
  left: 0;
}

/* CONTENIDO */
.banner-header {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  /* z-index: 1; */
}


.banner-left-content {
  width: 40vw;
  padding-left: 100px;
  text-align: center; /* Centra el texto horizontalmente */
}

.banner-right-content {
  width: 40vw;
  padding-left: 100px;
  text-align: center;
  margin-right: 100px; /* Centra el texto horizontalmente */
  display: inline;
}


.banner h1 {
  margin: 0 0 1rem 0;
  font-weight: 900;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: ChewyPro;
  color: #3b365e;
}

.banner h2{
  font-family: ChewyPro;
  font-size: 1.3rem;
  color: #3b365e;
  text-align: center;
  top: 30%;
  position: relative;
}



@keyframes scroll {
  100% {
    background-position: 0px 300%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}
.text-and-image {
  margin-right: 20px; /* Ajusta el espacio entre el texto y la imagen */
}
.animated-image {
  max-width: 80%; /* Ajusta el tamaño máximo de la imagen según el contenedor */
  animation: imageAnimation 2s ease-in-out infinite; /* Agrega una nueva animación para la imagen */
}

@keyframes imageAnimation {
  0%, 100% {
    transform: scale(1);
  } 50% {
    transform: scale(1.2); /* Ajusta el valor según la cantidad de agrandamiento */
  }
}

.type--A{
  --line_color : #555555 ;
  --back_color : #d498ff  ;
}


.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 35px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}

.button-container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    position:relative
}
.button:not(:last-child){
  margin-bottom : 64px ;
}
.post-img :hover img{
  transform: scale(1.2);
}

.home-header{
  padding:0;
  padding-left: 0;
  padding-top: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 40rem;
  position: relative;
}

.home-header-texture {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(183, 75, 255, 0.3)
    
  );
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40rem;

}
.home-header img{
  margin: 0;
  padding:0;
  object-fit: cover;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}


@media (max-width: 1100px) {
  
.banner h1 {
  margin: 0 0 0 0;
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: ChewyPro;
  color: #3b365e;
}

.banner h2{
  margin: 0 0 0 0;
  font-family: ChewyPro;
  font-size: 1.1rem;
  color: #3b365e;
  text-align: center;
  top: 10%;
  width: 40vw;
  left:30%;
}

  
.banner {
  font: 100% system-ui, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

.banner-background {
  background-image: url(/static/resources/purple_paws.avif);
  background-size: repeat;
  background-repeat: repeat;
  background-color: #252746;
  background-position: center;
  width: 100vw;
  height: 500px;
  z-index: 0;
  top: 70vh;
  left: 0;
  top:0;
  animation: scroll 100s linear infinite;
  margin-top: 0px;
}

.banner-background-texture {
  background: linear-gradient(
    to top,
    rgba(193, 101, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  background-size: cover;
  width: 100vw;
  height: 500px;
  /* position: absolute;
  /* z-index: 0; */
  top: 0;
  left: 0;
}

/* CONTENIDO */
.banner-header {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* position: relative; */
  /* z-index: 1; */
}


.banner-left-content {
  width: 100vw;
  padding-left: 0;
  padding-top: 2%;
  text-align: center;
  align-items: center;
}

.banner-right-content {
  width: 100vw;
  text-align: center;
  position: absolute;
  padding-top: 50%;
}
}


</style>

<div class="home-header">
  <div class="home-header-texture">
  </div>
  <img src="/static/content/header.jpg">
</div>


<div class="banner">
<div class="banner-background">
  <div class="banner-background-texture">
  <div class="banner-header">
    <div class="banner-left-content">
      <h1>Necesitamos tu ayuda !</h1>
      <h2>
        Cuidamos a los animalitos gracias a donaciones de la comunidad, 
        si quieres aportarnos con dinero o alimentos,
        o cooperar en nuestra iniciativa,
        ¡Clickea el botón!
      </h2>
    </div>
    <div class="banner-right-content">
      <div class="animate__animated animate__pulse animate__infinite">
        <div class="button-container">
            <a href="{% url 'donate' %}" class="button type--A">
              <div class="button__line"></div>
              <div class="button__line"></div>
              <span class="button__text" style="color: black;font-family: ChewyPro; font-weight: lighter;">QUIERO AYUDAR!</span>
              <div class="button__drow1"></div>
              <div class="button__drow2"></div>
            </a>
            </div>
    </div>
  </div>
      <!--<a href="{% url 'donate' %}"><img src="/static/resources/boton.png" class="animated-image"></a>-->
    </div>
  </div>
  </div>
</div>


<br/>

<style>
  .post-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .post-card {
    width: 48%;
    background-color: rgba(188, 129, 246, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en la tarjeta */
  }

  .post-img {
    border-radius: 10%;
    height: 300px;
    width: auto;
    max-width: 100%;
    margin-right: 20px; /* Añade un margen derecho a la imagen */
  }

  .post-text {
    flex: 1;
  }

  @media (max-width: 768px) {
    .post-card {
      width: 100%;
      flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
    }

    .post-img {
      margin-right: 0; /* Elimina el margen derecho en una sola columna */
      margin-bottom: 20px; /* Añade un margen inferior en una sola columna */
    }
  }
</style>
<div class="container">
  <div class="section-title">
    <h1>Nuestros Post</h1>
  </div>
</div>
<div class="container-fluid lg">
  
  <div class="post-card-container">
    {% for post in posts %}
    <!-- <a href="https://www.instagram.com/p/{{post.shortcode}}"> -->
    <a class="post-card" href="https://www.instagram.com/p/{{post.shortcode}}">
      
        <img src="{{ post.img_url }}" alt="post_img" class="post-img">
      <div class="post-text">
        <h5 style="font-family: ChewyPro; color: black; font-size: larger; text-align: center;">{{ post.caption }}</h5>
      </div>
    </a>

    <!-- </a> -->
    {% endfor %}
  </div>
</div>


{% endblock content %}
